<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
  		<div id="nav-items">
  			<%= render 'devise/menu/registration_items' %>
  			<%= render 'devise/menu/login_items' %>
 	 	</div>	
    </div>
  </div>
</header>